p {
    color:skyblue
    border: 2px dotted orange;
}

body {
    font-weight: bolder;
}

h1 {
    color: fuchsia
}

.january-ingredients {
    border: 7px solid greenyellow
}

#bottom-paragraph {
    color: 
}